@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: aliceblue;
    font-family: "IBM sans";
    font-weight: 400;
}

:root{
    --textDarkColor:#00467F;
    --textLightColor:#ffffff;
}

.align{
    max-width: 1200px;
    margin: auto;
    padding: 0 3rem;
}

header{
    width: 100%;
    height:auto;
    background-color: rgb(247, 245, 242);
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.admissionDisplay{
    background-color:#0080A7 ;
    padding:1.3rem;
}

.admissionDisplay .navLinks li{
    list-style-type: none;
}

.admissionDisplay .navLinks li a{
    text-decoration: none;
    text-align: center;
    color:var(--textLightColor);
    font-size: 1.7rem;
}

.searchBar{
    /* background-color: #F2F2F2; */
    /* background-color: aquamarine; */
    /* padding: 5rem; */
    /* padding: .2rem; */
    background-color: #e2eef1;
      }


    /* .secondBar{
        background-color: #9949db;
    } */

        .d-flex{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

            /* .collegeLogo img{
        height: 15rem;
        margin-left: 2rem;
        margin-top: 1.3rem;
    } */

   .searchBar .navLinks{
        width:100%;
        /* padding: 0.5rem 0;  */
        margin-bottom: 7rem;
       margin-right:2rem ;
    }

    .nav-flex{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

      
    .searchBar .navLinks li{
        list-style-type: none;
    }
  
    .searchBar .navLinks li a{
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
        color:var(--textDarkColor);
        /* font-size:5rem; */
    }


    .formContainer {
        width: 32%;
        height : auto;
        /* background-color: #cfe1ec; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.3rem;
        margin-right: 3rem;
    }

    .searchForm {
        width: 500px;
        /* padding: 20px; */
        /* border: 1px solid #ccc; */
        /* border-radius: 10px; */
         /* background-color: #f9f9f9; */
           }

    .formGroup {
        width: 100%;
        padding: 10px;
        /* background-color: #9949db; */
        position: relative;
        margin-bottom: 15px;
    }
    
    .formGroup .fa-magnifying-glass {
        font-size: 2.5rem;
        padding: 1.4rem;
        color: white;
              background-color: #00467F;
        position: absolute;
        right: 11px;
        top: 16.1%;
         }
    
    .formGroup input {
        width: 100%;
        padding: 19px 9px 19px 30px;
        background-color: #ffffff;
        margin-bottom: 4px;
        border:none;
        font-size: 1.8rem;
    }

    /* .sigin{
        background-color: #e9c2e7;
        /* padding: 1.5rem;
        padding:1.5 ,1.5, 1.2 ,1.5rem; */
        /* margin-left: 1rem; */
        /* margin-bottom: 3rem; */
    /* } */ 

    .sigin .fa-circle-user{
        font-size: 3rem;
        color:#00467F;
    }
    .sigin h5{
        font-size: 1.9rem;
        font-weight: 100;
    }

    .personIcon{
        background-color: rgb(219, 235, 229);
        padding: 1.5rem 7rem;
        margin-bottom: 5.2rem;
        margin-bottom: 2rem;
        margin-right: 8rem;
        /* margin-left: 3.8rem; */
              /* margin-bottom:3rem ; */
    }
    .navBar{
        background-color: yellowgreen;
      
    }

    .navBar .navLinks li{
        list-style-type: none;
    }
  
    .navBar .navLinks li a{
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
        color:var(--textDarkColor);
        /* font-size:5rem; */
    }




